.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav {
    display: flex;
    max-width: 100%;
    width: var(--max-width);
    padding: var(--padding);
}

.brand {
  margin-right: auto;
}