.companies_list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    margin-top: 32px;
}

.company_list_item {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    column-gap: 16px;
    padding: var(--padding);
    border: 1px solid #e0e0ea;
    border-radius: 16px;
    transition: all ease 0.2s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
    background-color: white;
}
.company_list_item:hover {
    transform: translateY(-5%);
    border-color: #0162ff;
    color: black;
}

.company_list_item .brand {
    border-radius: 8px;
}

@media (max-width: 1000px) {
    .companies_list {
        grid-template-columns: repeat(2, auto);
    }
}