.button_primary {
    position: relative;
    padding: 16px 24px;
    border-radius: 2rem;
    color: white;
    background-color: #0162ff;
    font-weight: bolder;
    transition: all ease 0.2s;
}
.button_primary:hover {
    background-color: #0746bf;
    margin-top: -2px;
}