.container {
    display: flex;
    justify-content: center;
    background-color: #f2f4ff;
    height: 500px;
    padding: var(--padding);
}

.center {
    text-align: center;
    max-width: 640px;
    width: var(--max-width);
}

.span {
    margin-top: 80px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.title_header {
    font-size: 3rem;
}

.title_description {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: 200;
}