.container {
    padding: var(--padding);
    margin-bottom: 32px;
}

.search_bar {
    margin: 0 auto;
    margin-top: -80px;
    padding: var(--padding-extra-large);
    border: 1px solid #e0e0ea;
    border-radius: 1.4rem;
    background-color: white;
    width: 100%;
    max-width: var(--max-width);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
}