.search_bar {
    margin-bottom: 32px;
}

.form {
    display: grid;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: repeat(2, 1fr) 180px;
}

@media (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
    }
}