.items {
    margin: 0px;
}

.items li {
    margin-bottom: 8px;
    list-style: none;
}

.items li:last-child {
    margin-bottom: 0px;
}

.list_item a {
    display: grid;
    column-gap: 16px;
    align-items: center;
    grid-template-columns: 30px auto;
}

.list_item a .brand {
    border-radius: 15%;
}