.grid {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 300px;
    column-gap: 48px;
    row-gap: 32px;
}

.content {
    display: grid;
    align-items: flex-start;
    row-gap: 32px;
}

.column {
    display: grid;
    row-gap: 16px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: auto;
    }
}